//output:template-complied.html
//{
    name: 'Full Email'
  }

doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    <!--[if !mso]><!-->
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    <!--<![endif]-->
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="styles.css")
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">table {border-collapse: collapse;}</style>
    <![endif]-->
  body
    style(type="text/css" media="screen") 
      include style.css
    center.wrapper
      div.webkit
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
        <td>
        <![endif]-->
        table.outer(align="center")
          
          //- NESTED
          tr
            td.nested
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="70%" valign="top">
              <![endif]-->
              div.column-75
                table(width="100%")
                  tr
                    td.inner-nested
                      table.contents
                        tr
                          td.nested-text A nested subject line
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="25%" valign="top">
              <![endif]-->
              div.column-25
                table(width="100%")
                  tr
                    td.inner-nested
                      table.contents
                        tr
                          td.nested-text
                            a View in Browser
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
              
          tr
            td
              table.outer(align="center")
                tr
                  td.full-width-image
                    img(src="http://asset.uie.com/emails/img/sample_images/sloth_header.png" width="600" alt="header")
          tr
            td.one-column
              table(width="100%")
                tr
                  td.inner.contents
                    p.h1 100% Width Text 
                    p.copy Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
          tr
            td.two-column
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="50%" valign="top">
              <![endif]-->
              div.column-50
                table(width="100%")
                  tr
                    td.inner
                      table.contents
                        tr
                          td
                            img(src="http://asset.uie.com/emails/img/sample_images/doggy.jpg" width="280" alt="image")
                        tr
                          td.text
                            p.h2 1/2 Two-Column
                            p.copy Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="50%" valign="top">
              <![endif]-->
              div.column-50
                table(width="100%")
                  tr
                    td.inner
                      table.contents
                        tr
                          td
                            img(src="http://asset.uie.com/emails/img/sample_images/doggy.jpg" width="280" alt="image")
                        tr
                          td.text
                            p.h2 1/2 Two-Column
                            p.copy Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->              
