- var headerSource = "image/header.jpg"
- var subHeaderText = "I am the opening text header"
- var openingText = "I am the opening text body"
- var Image01 = "img/doggy.jpg"
- var twoColumnText = "I am the two column text"
- var threeColumnText = "I am the three column text"
