p.h1 New in the All You Can Learn&nbsp;Library:
p.h2 
  a(href="https://aycl.uie.com/virtual_seminars/content_strategy_conversations") Navigating Challenging Content Strategy&nbsp;Conversations
p
p Ahava Leibtag shares an approach for creating the right environment to give critical feedback without putting people on the&nbsp;defensive.
p.spacer <br><hr><br>

p.image
  a(href="https://aycl.uie.com/virtual_seminars/content_strategy_conversations")
  img(src="http://asset.uie.com/emails/img/ahava-slide.png" width="400" alt="Ahava First Slide")

p In this seminar, Ahava will explain how&nbsp;to:

ul
  li Create a model for delivering feedback that builds team and client&nbsp;relationships
  li Help clients articulate critical&nbsp;feedback
  li Learn what feedback is valuable to your practice, and what&nbsp;isn&rsquo;t
p.button
  a(href="https://aycl.uie.com/virtual_seminars/content_strategy_conversations") Watch This
  p.spacer <br><hr><br>
p
  a(href="https://aycl.uie.com/virtual_seminars/subscribe/nav") Subscribe
  | &nbsp;to the All You Can Learn Library for $23/month or get access to just this recording for only&nbsp;$16.
