//output:just_added_compiled.html
//{
    name: 'Just Added'
  }

- var pageTitle = "Just Added to the AYCL Library"
- var headerSource = "http://asset.uie.com/img/AYCL/vs-banner.png" 
- var headerAlt = "All You Can Learn" 

- var nestedSubjectLine = "Ahava Leibtag, in the All You Can Learn Library"

doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    <!--[if !mso]><!-->
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    <!--<![endif]-->
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet" type="text/css" href="styles.css")
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">table {border-collapse: collapse;}</style>
    <![endif]-->
  body
    style(type="text/css" media="screen") 
      include stylesheet.css
    center.wrapper
      div.webkit
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
        <td>
        <![endif]-->
        table.outer(align="center")
          
          // nested
          tr
            td.nested
              <!--[if (gte mso 9)|(IE)]>
              <table width="100%">
              <tr>
              <td width="70%" valign="top">
              <![endif]-->
              div.column-75
                table(width="100%")
                  tr
                    td.inner-nested
                      table.contents
                        tr
                          td.nested-text #{nestedSubjectLine}
              <!--[if (gte mso 9)|(IE)]>
              </td><td width="25%" valign="top">
              <![endif]-->
              div.column-25
                table(width="100%")
                  tr
                    td.inner-nested
                      table.contents
                        tr
                          td.nested-text 
                            a(href="*|ARCHIVE|*") View&nbsp;in&nbsp;Browser
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
          
          // header
          tr
            td
              table.outer(align="center")
                tr
                  td.full-width-image
                    img(src="#{headerSource}" alt="headerAlt" width="600")
          
          // body
          tr
            td.one-column
              table(width="100%")
                tr
                  td.inner.contents
                    div.block
                      include body.jade
          // footer
          tr
            td.one-column
              table(width="100%")
                tr
                  td.inner.contents.footer
                    p Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved. <br>
                    p
                      | User Interface Engineering<br>
                      | 510 Turnpike Street<br>
                      | Suite 102<br>
                      | North Andover, MA 01845
                    p
                      a(href="*|UPDATE_PROFILE|*") manage your preferences
                      | &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                      a(href="*|UNSUB|*") unsubscribe from this list
        
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
