- var fullWidthTextHeader = ""
- var fullWidthTextBody   = ""

tr
  td.one-column
    table(width="100%")
      tr
        td.inner.contents 
          p.h1 #{fullWidthTextHeader}
          p #{fullWidthTextBody}
