
<tr>
  <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
    <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;">
      <tr>
        <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;">
          <p style="Margin:0;font-weight:bold;font-size:14px;Margin-bottom:10px;" class="h1">100% Width Text</p>
          <p style="Margin:0;font-size:14px;Margin-bottom:10px;">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>