//output:one-column.html
//{
    name: 'One Column'
  }
  
- var textColor = "#333333"
- var fullWidthHeader = "100% Width Text"
- var fullWidthBodyText = "Maecenas sed ante pellentesque, posuere leo id, eleifend dolor."
tr
  td(style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
    table(width="100%" style="border-spacing:0;font-family:sans-serif;color:#{textColor};")
      tr
        td(style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;")
          p.h1(style="Margin:0;font-weight:bold;font-size:14px;Margin-bottom:10px;") #{fullWidthHeader}
          p(style="Margin:0;font-size:14px;Margin-bottom:10px;") #{fullWidthBodyText}
