
<tr>
  <td style="padding-right:0;padding-left:0;text-align:left;font-size:0;padding-top:10px;padding-bottom:10px;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
    <tr>
    <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    <![endif]-->
    <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
      <tr>
        <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;">
          <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><img src="http://asset.uie.com/emails/img/sample_images/hedgehog.jpg" width="180" alt="Image" style="undefined"/></td>
            </tr>
            <tr>
              <td style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;">
                <p style="Margin:0;font-size:18px;font-weight:bold;Margin-bottom:12px;" class="h2">1/3 Three-Column</p>
                <p style="Margin:0;font-size:14px;Margin-bottom:12px;">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table><!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    <![endif]-->
    <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
      <tr>
        <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;">
          <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><img src="http://asset.uie.com/emails/img/sample_images/hedgehog.jpg" width="180" alt="Image" style="border-width:0;width:100%;max-width:180px;height:auto;"/></td>
            </tr>
            <tr>
              <td style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;">
                <p style="Margin:0;font-size:18px;font-weight:bold;Margin-bottom:12px;" class="h2">1/3 Three-Column</p>
                <p style="Margin:0;font-size:14px;Margin-bottom:12px;">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table><!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    <![endif]-->
    <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
      <tr>
        <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;">
          <table style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><img src="http://asset.uie.com/emails/img/sample_images/hedgehog.jpg" width="180" alt="Image" style="border-width:0;width:100%;max-width:180px;height:auto;"/></td>
            </tr>
            <tr>
              <td style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;">
                <p style="Margin:0;font-size:18px;font-weight:bold;Margin-bottom:12px;" class="h2">1/3 Three-Column</p>
                <p style="Margin:0;font-size:14px;Margin-bottom:12px;">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table><!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>